.container{
    border: 2px solid salmon;
    display: flex;
    height: 500px;
    /* justify-content:center; */
    align-items:center;
    flex-wrap: wrap;
    flex-direction:column-reverse;
}
.box{
    border: 2px dashed tomato;
    width: 100px;
    height: 100px;
}