nav{
    display: flex;
    justify-content: space-between;
}
nav a{
    text-decoration: none;
    color: black;
}
.login-form-container{
    display: flex;
    /* border: 1px solid sandybrown; */
    justify-content: center;
    align-items: center;
    height: 90vh;
}
.login-form{
    display: flex;
    flex-direction: column;
    /* margin-top: 20px; */
    /* width: 50%; */
    /* border: 2px solid tomato; */
    /* justify-content: space-between; */
    width: 50%;
}
.login-form input{
    margin-top: 20px;
}