.container{
    display: grid;
    /* grid-template-columns: 200px 200px 200px; */
    /* grid-template-columns: repeat(3,200px); */
    /* grid-template-rows: 200px; */
    /* grid-gap: 50px; */
    /* row-gap: 60px; */
    /* column-gap: 20px; */
    /* grid-template-columns: 1fr 2fr 4fr; */
    grid-template-columns: 200px 200px;
    justify-content: center ;
    /* align-items: center; */
    /* row-gap: 0px; */
    border: 1px solid black;
    height: 90vh;
}
.items{
    border: 2px solid tomato;
}