.container{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    gap: 40px;
}
.food{
    border: 1px solid tomato;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 10px 10px 10px lightgrey;
}
.food img{
    width: 100%;
}

@media screen and (max-width: 576px) {
    .container{
        grid-template-columns: repeat(1,1fr);
    }
}
/* @media screen and (max-width: 868px) {
    .container{
        grid-template-columns: repeat(2,1fr);
    }
} */