.container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 30px;

}
.food{
    border: 2px solid black;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.237);
}
.food img{
    width: 100%;
}

@media screen and (max-width: 576px) {
    .container{
        grid-template-columns: repeat(1,1fr);
    }
}
@media screen and (min-width: 576px) and (max-width: 992px) {
    .container{
        grid-template-columns: repeat(2,1fr);
    }
}